### Настройки IDE и редакторов кода ###
# JetBrains IDE (PyCharm, IntelliJ IDEA)
.idea/
*.iml

### Python-специфичные файлы ###
__pycache__/
*.py[cod]
*.py~
*.ipynb_checkpoints/


### Данные и модели машинного обучения ###
# Исключаем всю папку с данными
train_model/data/*
!train_model/data/sample_*.csv  # Исключение: файлы-примеры

# Дополнительные исключения для данных
*.h5
*.pth
*.joblib
*.npy
*.pptx


### Временные и системные файлы ###
*.swp
*.tmp
.DS_Store
Thumbs.db
desktop.ini

*.log
*.cache


### Дополнительные рекомендуемые исключения ###
.env
*.env
env/
venv/
*.venv/

docker-compose.override.yml